---
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: assets/img/banner.jpg
  actions:
    - label: "MLB"
      url: /mlb/
    - label: "NFL"
      url: /nfl/
    - label: "NBA"
      url: /nba/
    - label: "NHL"
      url: /nhl/
  caption: 
excerpt: "Reddit's sports subreddits account for an increasingly large share of fan interactions. Using Natural Language Processing and the Reddit API, we can observe how fans feel about their teams and leagues across time."
intro: 
  - excerpt: 'SportsSentiment uses deep learning to predict comment "sentiment" (positive or negative affect) with >80% test accuracy after being trained on 1.6 million tweets. Because of the subjective nature of sentiment analysis, [70–80% accuracy is considered a reasonable upper bound](https://en.wikipedia.org/wiki/Sentiment_analysis#Evaluation) for model performance, although the tweets used to train and validate this model and the Reddit comments it predicts on don''t necessarily follow the same distribution. Read more on model details and limitations in [**About**](/about).'
feature_row:
  - image_path: 
    alt: "placeholder image 2"
    title: "How to Use These Graphs"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"

---
{% include feature_row id="intro" type="center" %}

{% include feature_row type="center"%}