---
layout: archive
---

<style>

	#myInput {
	  background-image: url('/css/searchicon.png');
	  background-position: 10px 10px;
	  background-repeat: no-repeat;
	  width: 100%;
	  font-size: 16px;
	  padding: 12px 20px 12px 40px;
	  border: 1px solid #ddd;
	  margin-bottom: 12px;
	}

	table{
		width: 100%;
		font-size: 16px;
		display: table;
	}
	th{
	    border:2px solid #000000;
      background-color: #000080;
      font: #ffffff;
      color: #ffffff;
	}

	td{
	    border:1px solid #000000;
	}
  tr:nth-child(even) {background-color: #f2f2f2;}
  tr:hover {background-color: #ddd;}
</style>

<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

<span style="background-color: #ffdf29">Click a team name in the table to view its graph</span>

<h3>Average Subreddit Comment Sentiment by Team:</h3>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for teams.." title="Type in a team">

{{ content }}

<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("teamTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
